.idea/
/.settings/
/target/
/project/target/
.gradle/
/build

*.class
.classpath
.project

hbase-sequence-file-reader/build/
resolve-region-multisamekey-issue/build/
hbase-sequence-file-reader/out/
resolve-region-multisamekey-issue/out/